
:root{ /* 전역 색상 */
    --primary-100-color:#3692FF;
    --primary-200-color:#1967D6;
    --primary-300-color:#1251AA;
    --error-red-color:#F74747;
    --gray900-color:#111827;
    --gray800-color:#1F2937;
    --gray700-color:#374151;
    --gray600-color:#4B5563;
    --gray500-color:#6B7280;
    --gray400-color:#9CA3AF;
    --gray200-color:#E5E7EB;
    --gray100-color:#F3F4F6;
    --gray50-color:#F9FAFB;
}

