@import "./reset.css";
@import "./global.css";

* {
  box-sizing: border-box;
}


body{
    margin: 0;
}

header{
    width: 100%;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

.login-button{
    width: 8rem;
    background: var(--primary-100-color);
    gap: .625rem;
    border-radius: .5rem;
    opacity: 1;
    color: var(--gray100-color);
    font-family: 'Pretendard';
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 3rem;
    cursor: pointer;
}



.header-box{
    width: 100%;
    max-width: 70rem;
    height: 3.1875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12.5rem;
    margin: 0 auto;
}

@media (min-width: 120rem) {
    .header-box {
        width: 95rem;
        margin: 0 auto;
    }
}

#header-logo{
    width: 9.5625rem;
    height: 3.1875rem;
}

main{
    margin-bottom: 6.25rem;
}

.home {
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text-box{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

#home-text{
    color: var(--gray700-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.button1 {
    color: var(--gray50-color);
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--primary-100-color);
    width: 22.3125rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    text-decoration: none;
}

#img-home-top{
    height: 21.25rem;
    width: 46.625rem;
}

.content {
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box{
    background-color: #FCFCFC;
    width: 61.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.content-text-box{
    display: flex;
    flex-direction: column;
}

#second-content{
    justify-content: end;
    text-align: end;
}


.content-header{
    color: var(--primary-100-color);
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: .625rem;
}

.content-title{
    color: var(--gray700-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 1.875rem;
}

.content-info{
    color: var(--gray700-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 140%;
}

.content-img{
    width: 36.75rem;
    height: 27.75rem;
}

.footer-main{
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex; 
    justify-content: center;
    align-items: end; 
}

.footer-main-box{
    display: flex;
    align-items: center;
}

.footer-text{
    color: var(--gray700-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 140%;
}


.footer-bottom-box {
    width: 100vw;
    color: var(--gray400-color);
    display: flex;
    justify-content: space-between;
    padding: 0 12.5rem;
    margin: 1.25rem auto 0;
}

#home-bottom{
    height: 24.8125rem;
}

.footer-bottom {
    background-color: var(--gray900-color);
    height: 10rem;
    display: flex;
    justify-content: center;
}
.footer-desktop {
    display: flex;
}
.footer-mobile {
    display: none;
}
@media (min-width: 120rem) {
    .footer-bottom-box {
        width: 95rem;
        margin: 0 auto;
    }
}

.sns-img{
    width: 1.25rem;
    height: 1.25rem;
}

.footer-ppf{
    display: flex;
    gap: 1.25rem;
}

.footer-sns{
    display: flex;
    gap: .625rem;
}

.footer-ppf > a {
    text-decoration: none;
    color: var(--gray400-color);
}

body a {
    cursor: pointer;
}


/* tablet ver */
@media (min-width:744px) and (max-width:1199px){
/* tablet st */
    .header-box{
        width: 100%;
        padding: 0 1.5rem;
    }
    .home-box,.footer-main-box,.content-box{
        display: flex;
        flex-direction: column;
    }
    #img-home-top{
        width: 46.5rem;
        height: 21.25rem;
    }
    .home{
        height: 50.875rem;
    }
    .home-box{
        justify-content: center;
        align-items: center;
    }
    .home-text-box{
        align-items: center;
        padding: 9.625rem 
    }
    #home-text br {
        display: none;
    }
    .content{
        margin:3.25rem;
        height:auto;
        display: flex;
    }
    .content-img{
        width: 43.5rem;
        height: 32.75rem;
    }
    .content-title{
        font-size: 2rem;
        line-height: 2.625rem; 
    }
    .content-info{
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    .content-title br {
        display: none;
    }
    #reversecon{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .content-text-box{
        gap:1.5rem
    }
    .content-box{
        width: fit-content;
        align-items: flex-start;
    }
    #home-bottom{
        width: 46.5rem;
        height: 24.8125rem;  
    }
    .footer-main-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 12.5625rem;
        gap:13.5625rem;
    }
    .footer-text{
        text-align: center;
    }
    .footer-main{        
        height: 57.9375rem;
    }
    .footer-bottom-box{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1.5rem;
    }
}
/*mobile ver*/
@media (min-width:375px) and (max-width:743px){
/*mobile st*/
    body{
        padding: 0 1rem;
    }
    .header-box{
        width: calc(100% - 2rem);
        padding: 0;
        margin: 0 1rem;
    }
    .home-box,.footer-main-box,.content-box{
        display: flex;
        flex-direction: column;
    }
    #header-logo{
        width: 103px;
        height: 51px;
    }
    .home{
        height: 50.875rem;
    }
    .home-box{
        justify-content: center;
        align-items: center;
    }
    .home-text-box{
        align-items: center;
        padding: 9.625rem 
    }

    #home-text{
        text-align: center;
    }
    .content{
        height:auto;
        display: flex;
    }
    .content-title{    
        font-size: 1.5rem;
        line-height: 2rem; 
    }
    .content-title br {
        display: none;
    }
    .content-info{
        font-size: 1rem;
        line-height: 1.625rem;
    }
    #reversecon{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .content-text-box{
        gap:1.5rem
    }

    .content-box{
        width: fit-content;
        align-items: flex-start;
    }

    .footer-main-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-main{        
        height: 57.9375rem;
    }

    .footer-text{
        margin-bottom: 8.1875rem;
        text-align: center;
    }

    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
    .footer-bottom-box{       
        height: auto;
        flex-direction: column;
        gap: 1.5rem;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between; 
        padding: 0 1rem; 
        align-items: center;
        
    }

    .footer-group{
        display: flex;
        align-items: column;
        margin:auto
    }
    
    .footer-codeit{
        display: flex;
        align-items: flex-start;
        order:3;
    }
    .home-box, .content-box, .footer-main-box {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    #home-bottom,.content-img,#img-home-top{
        width: 100%;
        height: auto;
        margin: 0; 
        display: block;
    }
}